<template id="google-maps-form">
  <div class="form-field">
    Parking type:
    <select name="parkingType" id="parkingTypeField">
      <option value="Street">Street</option>
      <option value="Outdoor Lot">Outdoor Lot</option>
      <option value="Indoor Lot">Indoor Lot</option>
    </select>
  </div>
  <div class="form-field">
    Valid hours:
    <select name="validHours[day]" id="validHoursDayField">
      <% ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'].forEach(function(day){ %>
        <option value="<%= day %>"><%= day %></option>
      <% }) %>
    </select>
    <select name="validHours[startTime]" id="validHoursStartTimeField">
      <% for (var i = 1; i < 25; i++){ %>
        <option value="<%= i %>">
          <%= i > 12 ? i - 12 : i %>
          <%= (i < 12 || i > 23) ? 'AM' : 'PM' %>
        </option>
      <% }; %>
    </select>
    <select name="validHours[endTime]" id="validHoursEndTimeField">
      <% for (var i = 1; i < 25; i++){ %>
        <option value="<%= i %>">
          <%= i > 12 ? i - 12 : i %>
          <%= (i < 12 || i > 23) ? 'AM' : 'PM' %>
        </option>
      <% }; %>
    </select>
  </div>
  <div class="form-field">
    Max Time:
    <select name="maxTime" id="maxTimeField">
      <% for (var i = 1; i < 25; i++){ %>
        <option value="<%= i %>"><%= i %> <%= i < 2 ? 'hour':'hours' %></option>
      <% }; %>
    </select>
  </div>
  <div class="form-field">
    <fieldset>
      Permit:
        <label for="required"><input type="radio" name="permit" value=true checked>Required</label>
        <label for="not-required"><input type="radio" name="permit" value=false>Not required</label>
    </fieldset>
  </div>
  <div class="form-field">
    Cost:
    $<input type="text" id="costField">/hr
  </div>
  <div class="form-field">
    Cost Exceptions:
     <input type="text" id="costExceptionField">
  </div>
  <div class="submit-field">
    <button id="submit">Submit</button>
  </div>
</template>
