<template id="google-maps-form">
  <table class="table table-responsive borderless">
    <tr>
      <td>
        <h4>Add Tip</h4>
      </td>
    </tr>
    <tr>
      <th>
        Parking type:
      </th>
      <td>
        <select name="parkingType" id="parkingTypeField">
          <option value="Street">Street</option>
          <option value="Outdoor Lot">Outdoor Lot</option>
          <option value="Indoor Lot">Indoor Lot</option>
        </select>
      </td>
    </tr>
  <tr id="appendThis">
    <th>
      Valid hours:
    </th>
    <td>
      <select name="validHours[day]" class="day">
        <% ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'].forEach(function(day){ %>
          <option value="<%= day %>"><%= day %></option>
        <% }) %>
      </select>
      From
      <select name="validHours[startTime]" class="start">
        <% for (var i = 1; i < 25; i++){ %>
          <option value="<%= i %>">
            <%= i > 12 ? i - 12 : i %>
            <%= (i < 12 || i > 23) ? 'AM' : 'PM' %>
          </option>
        <% }; %>
      </select>
      to
      <select name="validHours[endTime]" class="end">
        <% for (var i = 1; i < 25; i++){ %>
          <option value="<%= i %>">
            <%= i > 12 ? i - 12 : i %>
            <%= (i < 12 || i > 23) ? 'AM' : 'PM' %>
          </option>
        <% }; %>
      </select>
    </td>
    <td>
      <div id="clickPlus">+</div>
    </td>
  </tr> <!-- closes row !-->
  <tr>
    <th>
      Max Time:
    </th>
    <td>
      <select name="maxTime" id="maxTimeField">
        <% for (var i = 1; i < 25; i++){ %>
          <option value="<%= i %>"><%= i %> <%= i < 2 ? 'hour':'hours' %></option>
        <% }; %>
      </select>
    </td>
  </tr>
  <tr>
    <th>
        Permit:
    </th>
    <td>
      <fieldset>
          <label for="required"><input type="radio" name="permit" value=true checked>Required</label>
          <label for="not-required"><input type="radio" name="permit" value=false>Not required</label>
      </fieldset>
    </td>
  </tr>
  <tr>
    <th>
      Cost:
    </th>
    <td>
      $<input type="text" id="costField">/hr
    </td>
  </tr>
  <tr>
    <th>
      Cost Exceptions:
    </th>
    <td>
     <input type="text" id="costExceptionField">
    </td>
  </tr>
  <tr>
    <th>
      Comments:
    </th>
    <td>
      <textarea cols="20" rows="5" id="commentsField"></textarea>
    </td>
  </tr>
  <tr>
    <td class="submit-field">
      <button class="btn btn-success" id="submit">Submit</button>
    </td>
  </tr> <!-- closes container div !-->
  </table>
</template>

<template id="addRow">
  <tr>
    <td>
    </td>
    <td>
      <select name="validHours[day]" class="day">
        <% ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'].forEach(function(day){ %>
          <option value="<%= day %>"><%= day %></option>
        <% }) %>
      </select>
      From
      <select name="validHours[startTime]" class="start">
        <% for (var i = 1; i < 25; i++){ %>
          <option value="<%= i %>">
            <%= i > 12 ? i - 12 : i %>
            <%= (i < 12 || i > 23) ? 'AM' : 'PM' %>
          </option>
        <% }; %>
      </select>
      to
      <select name="validHours[endTime]" class="end">
        <% for (var i = 1; i < 25; i++){ %>
          <option value="<%= i %>">
            <%= i > 12 ? i - 12 : i %>
            <%= (i < 12 || i > 23) ? 'AM' : 'PM' %>
          </option>
        <% }; %>
      </select>
    </td>
  </tr>
</template>
