<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="javascript" href="javascripts/index.js">
  </head>
  <body>
    <nav>
    <div id="topbar">
    <ul class="left">
      <% if (user) { %>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/auth/google">Login with Google</a></li>
      <% } %>
    </ul>
    <div id="plus">+</div>
    <button id="addtip">Add Tip</button>
    </div>
    <div class="submit-data hidden" id="display-time">
      At what times is it alright to park here? From <input type="text" name="street[startTime]"> to <input type="text" name="street[endTime]">
    </div>
    </nav>
    <div id="map"></div>
      <template id="google-maps-form">
        <div class="form-field">
          Parking type: <input type="text">
        </div>
        <div class="form-field">
          Valid hours:
          <select name="validHours[day]">
            <% ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'].forEach(function(day){ %>
              <option value="<%= day %>"><%= day %></option>
            <% }) %>
          </select>
          <select name="validHours[startTime]">
            <% for (var i = 1; i < 25; i++){ %>
              <option value="<%= i %>">
                <%= i > 12 ? i - 12 : i %>
                <%= (i < 12 || i > 23) ? 'AM' : 'PM' %>
              </option>
            <% }; %>
          </select>
          <select name="validHours[endTime]">
            <% for (var i = 1; i < 25; i++){ %>
              <option value="<%= i %>"><%= i %></option>
            <% }; %>
          </select>
        </div>
        <div class="form-field">
          Max Time:
          <select name="maxTime">
            <% for (var i = 1; i < 25; i++){ %>
              <option value="<%= i %>"><%= i %> <%= i < 2 ? 'hour':'hours' %></option>
            <% }; %>
          </select>
        </div>
        <div class="form-field">
          Permit:
        </div>
    </template>
    <footer>
      <div>
        <nav>
          <div class="container">
            <ul class="list-unstyled">
              <li><a data-placement="top" data-toggle="popover" data-title="Address Search" data-container="body" type="button" data-html="true" href="#">Search</a></li>
              <div id="popover-content" class="hide">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <input id="address" type="text" name="street[address]">
                    &nbsp;
                    <button id="getAddress">Submit</button>
                  </div>
                </form>
              </div>
            </ul>
          </div> <!-- closes container -->

        </nav>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap">
    </script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
